[submodule "src/webserver/WebServer"]
	path = src/webserver/WebServer
	url = https://github.com/Nomagno/Half-WebSocket
[submodule "src/external/toml_parser"]
	path = src/external/toml_parser
	url = https://github.com/cktan/tomlc99
